<head>
  <link rel="stylesheet" href="/footer.css">
  <script src="https://kit.fontawesome.com/97450a4abb.js" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,600&display=swap" rel="stylesheet">
</head>
<div class="container-footer">
<div class="container-logo-footer">
  <div class="logo-footer">
    <i class="fa-solid fa-bowl-food"></i>
    <h1><a href="/">Bistro Bliss</a></h1>
  </div>
  <h2>In the new era of technology we look a in the future with certainty and pride to for our company and.</h2>
  <div class="icons-footer">
    <i class="fa-brands fa-twitter"></i>
    <i class="fa-brands fa-facebook"></i>
    <i class="fa-brands fa-instagram"></i>
    <i class="fa-brands fa-github"></i>
  </div>
</div>
<div class="pages-footer">
  <ul>
    <li><h1>pages</h1></li>
    <li><a href="/">home</a></li>
    <li><a href="/about">about</a></li>
    <li><a href="/menu">menu</a></li>
    <li><a href="/menu">pricing</a></li>
    <li><a href="/pages">blog</a></li>
    <li><a href="/contact">contact</a></li>
    <li><a href="/">delivery</a></li>
  </ul>
</div>
<div class="utility-pages-footer">
  <ul>
    <li><h1>utility pages</h1></li>
    <li><p>start here</p></li>
    <li><p>styleguide</p></li>
    <li><p>passwordprotected</p></li>
    <li><p>404found</p></li>
    <li><p>lincenses</p></li>
    <li><p>changelog</p></li>
    <li><p>view more</p></li>
  </ul>
</div>
<div class="follow-footer">
  <div class="text-follow">
    <h1>Follow Us On Instagram</h1>
  </div>
  <div class="images-footer">
    <img src="/images/Mask group (3).jpg">
    <img src="/images/eiliv-aceron-d5PbKQJ0Lu8-unsplash 1.jpg">
    <img src="/images/pexels-ella-olsson-1640772 1.jpg">
    <img src="/images/Mask group (4).jpg">
  </div>
</div>
</div>
