<html lang="en">
<%- include("./partials/header.ejs") %>
<head>
  <link rel="stylesheet" href="/about.css"> 
</head>
<body>
  <%- include("./partials/nav.ejs") %>
  <div class="container1-about">
    <div class="images-about">
        <img src="/images/image 111.jpg" alt="">
    </div>
    <div class="card-about">
        <h1 class="invitation">Come and visit us</h1>
        <div class="phone-card">
           <p><i class="fa-solid fa-phone"></i> (414) 857 - 0107</p>
        </div>
        <div class="email-card">
            <p><i class="fa-regular fa-envelope"></i>happytummy@restaurant.com</p>
        </div>
        <div class="location-card">
           <p><i class="fa-solid fa-location-dot"></i>837 W. Marshall Lane Marshalltown, IA 50158, Los Angeles</p>
        </div>
    </div>
</div>
<div class="text-about">
    <h1>We provide healthy food for your family.</h1>
    <h2>Our story began with a vision to create a unique dining experience that merges fine dining, exceptional service, and a vibrant ambiance. Rooted in city's rich culinary culture, we aim to honor our local roots while infusing a global palate.</h2>
    <p>At place, we believe that dining is not just about food, but also about the overall experience. Our staff, renowned for their warmth and dedication, strives to make every visit an unforgettable event.</p>
</div>
<div class="container2-about">
  <div class="video-about">
    <div class="video-about-i">
      <i class="fa-solid fa-play"></i>
    </div>
    <div class="video-about-text">
      <h1>Feel the authentic & original taste from us</h1>
    </div>
  </div>
  <div class="video-about-fetures">
    <div class="feture1">
      <div class="feture1-icon">
        <i class="fa-solid fa-bars"></i>
      </div>
      <div class="feture1-text">
        <h1>Multi Cuisine</h1>
        <p>In the new era of technology we look in the future with certainty life.</p>
      </div>
    </div>
    <div class="feture2">
      <div class="feture2-icon">
        <i class="fa-solid fa-store"></i>
      </div>
      <div class="feture2-text">
        <h1>Easy To Order</h1>
        <p>In the new era of technology we look in the future with certainty life.</p>
      </div>
    </div>
    <div class="feture3">
      <div class="feture3-icon">
        <i class="fa-solid fa-stopwatch"></i>
      </div>
      <div class="feture3-text">
        <h1>Fast Delivery</h1>
        <p>In the new era of technology we look in the future with certainty life.</p>
      </div>
    </div>
  </div>
</div>
<div class="container3-about">
  <div class="container3-text">
    <div class="text-paragraph">
      <div class="h1">
        <h1>A little information for our valuable guest</h1>
      </div>
      <div class="p">
        <p>At place, we believe that dining is not just about food, but also about the overall experience. Our staff, renowned for their warmth and dedication, strives to make every visit an unforgettable event.</p>
      </div>
    </div>
    <div class="text-cards">
        <div class="card1">
          <h1>3</h1>
          <h2>Locations</h2>
          </div>
        <div class="card2">
          <h1>1995</h1>
          <h2>Founded</h2>
        </div>
        <div class="card3">
          <h1>65+</h1>
          <h2>Staff Members</h2>
        </div>
        <div class="card4">
          <h1>100%</h1>
          <h2>Satisfied Customers</h2>
        </div>
    </div>
  </div>
  <div class="container3-image">
    <img src="/images/pexels-cottonbro-studio-4252139 1.jpg">
  </div>
</div>
<div class="customer">
  <div class="text-customer">
      <h1>What Our Customers Say</h1>
  </div>
  <div class="card-customer">
      <div class="sophire">
          <h2>“The best restaurant”</h2>
          <p>Last night, we dined at place and were simply blown away. From the moment we stepped in, we were enveloped in an inviting atmosphere and greeted with warm smiles.</p>
          <img src="/images/Ellipse 19.jpg">
          <h3>Sophire Robson</h3> 
          <p>Los Angeles, CA</p>
      </div>
      <div class="matt">
          <h2>“Simply delicious”</h2>
          <p>Place exceeded my expectations on all fronts. The ambiance was cozy and relaxed, making it a perfect venue for our anniversary dinner. Each dish was prepared and beautifully presented.</p>
          <img src="/images/Image.jpg">
          <h3> matt cannon</h3>
          <p>San Diego, CA</p>
      </div>
          <div class="andy">
              <h2>“One of a kind restaurant”</h2>
              <p>The culinary experience at place is first to none. The atmosphere is vibrant, the food - nothing short of extraordinary. The food was the highlight of our evening. Highly recommended.</p>
              <img src="/images/Image (1).jpg">
              <h3>Andy Smith</h3>
              <p>San Francisco, CA</p>
          </div>
      </div>
</div>
  <%- include("./partials/footer.ejs") %>
</body>
</html>