<%- include('./partials/header'); -%>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/home.css"> 
</head>    
<body>
    <%- include("./partials/nav.ejs") %>
    <div class="landing">
        <div class="text">
            <h1>best food for your taste</h1>
            <p>Discover delectable cuisine and unforgettable moments in our welcoming, culinary haven.</p>
        </div>
        <div class="buttons">
            <div class="button-book">
                <a href="/tables/book">book a table</a>
            </div>
            <div class="button-menu">
                <a href="/menu">explore menu</a>
            </div>
        </div>
    </div>
        
    <div class="browse">
            <div class="text-browse">
                <h1>browse our menu</h1>
    </div>
    <div class="container-browse">
            <div class="breakfast">
                <i class="fa-solid fa-mug-hot"></i>
                <h3>break fast</h3>
                <p>In the new era of technology we look in the future with certainty and pride for our life.</p>
                <a href="/menu">explore menu</a>
    </div>
            <div class="maindishes">
                <i class="fa-solid fa-bowl-rice"></i>
                <h3>main dishes</h3>
                <p>In the new era of technology we look in the future with certainty and pride for our life.</p>
                <a href="/menu">explore menu</a>
            </div>
            <div class="drinks">
                <i class="fa-solid fa-glass-water"></i>
                <h3>drinks</h3>
                <p>In the new era of technology we look in the future with certainty and pride for our life.</p>
                <a href="/menu">explore menu</a>
            </div>
            <div class="dessert">
                <i class="fa-solid fa-cake-candles"></i>
                <h3>dessert</h3>
                <p>In the new era of technology we look in the future with certainty and pride for our life.</p>
                <a href="/menu">explore menu</a>
        </div>
        </div>
        </div>
    <div class="about">
        <div class="container-about">
            <div class="images-about">
                <img src="images/Image111.jpg">
            </div>
            <div class="card-about">
                <h1 class="invitation">Come and visit us</h1>
                <div class="phone-card">
                    <p><i class="fa-solid fa-phone"></i>(414) 857 - 0107</p>
                </div>
                <div class="email-card">
                    <p><i class="fa-regular fa-envelope"></i>happytummy@restaurant.com</p>
                </div>
                <div class="location-card">
                    <p><i class="fa-solid fa-location-dot"></i>837 W. Marshall Lane Marshalltown, IA 50158, Los Angeles</p>
                </div>
            </div>
        </div>
        <div class="text-about">
            <h1>We provide healthy food for your family.</h1>
            <h2>Our story began with a vision to create a unique dining experience that merges fine dining, exceptional service, and a vibrant ambiance. Rooted in city's rich culinary culture, we aim to honor our local roots while infusing a global palate.</h2>
            <p>At place, we believe that dining is not just about food, but also about the overall experience. Our staff, renowned for their warmth and dedication, strives to make every visit an unforgettable event.</p>
            <a href="/about">More About Us</a>
        </div>
    </div>
    
    <div class="events">
        <div class="text-events">
            <h1>We also offer unique</br>services for your events</h1>
        </div>
        <div class="container-events">
            <div class="categing-events">
                <img src="/images/kebab-set-table 1.jpg">
                <h2>Caterings</h2>
                <p>In the new era of technology we look in the future with certainty for life.</p>
            </div>
            <div class="birthdays-events">
                <img src="/images/charming-female-blowing-candles-birthday-cake-after-making-her-wish-party 1.jpg">
                <h2>Birthdays</h2>
                <p>In the new era of technology we look in the future with certainty for life.</p>
            </div>
            <div class="weddings-events">
                <img src="/images/happy-man-wife-sunny-day 1.jpg">
                <h2>Weddings</h2>
                <p>In the new era of technology we look in the future with certainty for life.</p>
            </div>
            <div class="events-events">
                <img src="/images/group-friends-eating-restaurant 1.jpg">
                <h2>Events</h2>
                <p>In the new era of technology we look in the future with certainty for life.</p>
            </div>
        </div>
    </div>

    <div class="delivery">
        <div class="container1-delivery">
            <div class="image1">
                <img src="/images/mid-shot-chef-holding-plate-with-pasta-making-ok-sign 1.jpg">
            </div>
            <div class="image2">
                <img src="/images/sour-curry-with-snakehead-fish-spicy-garden-hot-pot-thai-food 1.jpg">
                <img src="/images/sadj-iron-pot-with-various-salads 1.jpg">
            </div>
        </div>
        <div class="container2-delivery">
            <div class="text-delivery">
                <h1>Fastest Food Delivery in City</h1>
                <p>Our visual designer lets you quickly and of drag a down your way to customapps for both keep desktop. </p>
            </div>
            <div class="fetures-delivery">
                <div class="time-delivery">
                  <i class="fa-solid fa-clock"></i>
                  <h2>Delivery within 30 minutes</h2>
                </div>
                <div class="offers-delivery">
                    <i class="fa-solid fa-percent"></i>
                    <h2>Best Offer & Prices</h2>
                </div>
                <div class="service-delivery">
                    <i class="fa-solid fa-cart-shopping"></i>
                    <h2>Online Services Available</h2>
                </div>
            </div>

        </div>
        

        
    </div> 

    <div class="customer">
        <div class="text-customer">
            <h1>What Our Customers Say</h1>
        </div>
        <div class="card-customer">
            <div class="sophire">
                <h2>“The best restaurant”</h2>
                <p>Last night, we dined at place and were simply blown away. From the moment we stepped in, we were enveloped in an inviting atmosphere and greeted with warm smiles.</p>
                <img src="/images/Ellipse 19.jpg">
                <h3>Sophire Robson</h3> 
                <p>Los Angeles, CA</p>
            </div>
            <div class="matt">
                <h2>“Simply delicious”</h2>
                <p>Place exceeded my expectations on all fronts. The ambiance was cozy and relaxed, making it a perfect venue for our anniversary dinner. Each dish was prepared and beautifully presented.</p>
                <img src="/images/Image.jpg">
                <h3> matt cannon</h3>
                <p>San Diego, CA</p>
            </div>
                <div class="andy">
                    <h2>“One of a kind restaurant”</h2>
                    <p>The culinary experience at place is first to none. The atmosphere is vibrant, the food - nothing short of extraordinary. The food was the highlight of our evening. Highly recommended.</p>
                    <img src="/images/Image (1).jpg">
                    <h3>Andy Smith</h3>
                    <p>San Francisco, CA</p>
                </div>
            </div>
    </div>

    <div class="articals">
        <div class="text-articals">
            <h1>Our Blog & Articles</h1>
            <a href="/pages">read all articals</a>
        </div>
        <div class="container-articals">
            <div class="main-artical">
                <img src="/images/Mask group.jpg">
                <h3>January 3, 2023</h3>
                <h2>The secret tips & tricks to prepare a perfect burger & pizza for our customers</h2>
                <p>Lorem ipsum dolor sit amet consectetur of a adipiscing elitilmim semper adipiscing massa gravida nisi cras enim quis nibholm varius amet gravida ut facilisis neque egestas.</p>
            </div>
            <div class="side-articals">
                <div class="side1">
                  <img src="/images/Mask group (1).jpg">
                  <h3>January 3, 2023</h3>
                  <h2>How to prepare the perfect french fries in an air fryer</h2>
                </div>

                <div class="side2">
                  <img src="/images/Mask group (2).jpg">
                  <h3>January 3, 2023</h3>
                  <h2>How to prepare delicious chicken tenders</h2>
                </div>

                <div class="side3">
                    <img src="/images/pexels-sebastian-coman-photography-3791088 1.jpg">
                    <h3>January 3, 2023</h3>
                    <h2>7 delicious cheesecake recipes you can prepare</h2>
                </div>
                <div class="side4">
                    <img src="/images/pexels-katerina-holmes-5908226 1.jpg">
                    <h3>January 3, 2023</h3>
                    <h2>5 great pizza restaurants you should visit this city</h2>
                </div>                
            </div>
        </div>      
    </div>
</body>
</html>
<%- include('./partials/footer'); -%>
    