<%- include('./partials/header'); -%>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="pages.css">
</head>
<body>
    <%- include("./partials/nav.ejs") %>
   <div class="container-pages">
    <div class="pages-text">
      <h1>Our Blog & Articles</h1>
      <p>We consider all the drivers of change gives you the components you need to change to create a truly happens.</p>
    </div>
    <div class="pages-content">
      <div class="artical-pages1">
        <img src="/images/pexels-ivan-samkov-8951199 1.jpg">
        <p>January 3, 2023</p>
        <a href="/content"><h2>How to prepare a delicious gluten free sushi</h2></a>
      </div>
      <div class="artical-pages2">
        <img src="/images/pexels-skyler-ewing-10307512 1.jpg">
        <p>January 3, 2023</p>
        <a href="/content"><h2>Exclusive baking lessons from the pastry king</h2></a>
      </div>
      <div class="artical-pages3">
        <img src="/images/pexels-suzy-hazelwood-2966196 1.jpg">
        <p>January 3, 2023</p>
        <a href="/content"><h2>How to prepare the perfect fries in an air fryer</h2></a>
      </div>
      <div class="artical-pages4">
        <img src="/images/pexels-leonardo-luz-13998974 1.jpg">
        <p>January 3, 2023</p>
        <a href="/content"><h2>How to prepare delicious chicken tenders</h2></a>
      </div>
      <div class="artical-pages5">
        <img src="/images/pexels-marta-dzedyshko-2067396 1.jpg">
        <p>January 3, 2023</p>
        <a href="/content"><h2>5 great cooking gadgets you can buy to save time</h2></a>
      </div>
      <div class="artical-pages6">
        <img src="/images/pexels-valeria-boltneva-1833337 1.jpg">
        <p>January 3, 2023</p>
        <a href="/content"><h2>The secret tips & tricks to prepare a perfect burger</h2></a>
      </div>
      <div class="artical-pages7">
        <img src="/images/pexels-sebastian-coman-photography-3791088 1 (1).jpg">
        <p>January 3, 2023</p>
        <a href="/content"><h2>7 delicious cheesecake recipes you can prepare</h2></a>
      </div>
      <div class="artical-pages8">
        <img src="/images/pexels-katerina-holmes-5908226 1 (1).jpg">
        <p>January 3, 2023</p>
        <a href="/content"><h2>5 great pizza restaurants you should visit this city</h2></a>
      </div>
      <div class="artical-pages9">
        <img src="/images/pexels-irina-bogodukhova-9032910 1.jpg">
        <p>January 3, 2023</p>
        <a href="/content"><h2>5 great cooking gadgets you can buy to save time</h2></a>
      </div>
      <div class="artical-pages10">
        <img src="/images/pexels-nishant-aneja-2955819 1.jpg">
        <p>January 3, 2023</p>
        <a href="/content"><h2>How to prepare a delicious gluten free sushi</h2></a>
      </div>
      <div class="artical-pages11">
        <img src="/images/ramen.jpg">
        <p>January 3, 2023</p>
        <a href="/content"><h2>Top 20 simple and quick desserts for kids</h2></a>
      </div>
      <div class="artical-pages12">
        <img src="/images/pexels-igor-ovsyannykov-205961 1.jpg">
        <p>January 3, 2023</p>
        <a href="/content"><h2>Top 20 simple and quick desserts for kids</h2></a>
      </div>
    </div>
   </div>
</body>
</html>
<%- include('./partials/footer'); -%>