body{
    margin: 0;
    padding: 0;
}
.edit-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.editform{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 20px;
    width: 700px;
    height: 450;
    margin: 70px;
}
.name-contact{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin: 20px;
}
.name-contact label{
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
}
.name-contact input{
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    border-radius: 90px;
    border: 1px solid;
    border-color: DBDFD0;
    height: 40px;
    width: 300;
    padding-left: 20px;
    padding-right: 20px;
}
.email-contact{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin: 20px;
}
.email-contact label{
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
}
.email-contact input{
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    border-radius: 90px;
    border: 1px solid;
    border-color: DBDFD0;
    height: 40px;
    width: 300;
    padding-left: 20px;
}
.subject-contact{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin-left: 20px;
}
.subject-contact label{
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
}
.subject-contact input{
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    border-radius: 90px;
    border: 1px solid;
    border-color: DBDFD0;
    height: 40px;
    width: 300;
    padding-left: 20px;
}
.message-contact{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin: 20px;
}
.message-contact label{
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
}
.message-contact textarea{
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    border-radius: 90px;
    border: 1px solid;
    border-color: DBDFD0;
    height: 100px;
    width: 700px;
    padding-left: 20px;
    padding-top: 20px;
}
.book-btn{
    display: flex;
    align-items: center;
    justify-content: center;
}
.updateBtn{
    text-decoration: none;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    color: FFFFFF;
    background-color: AD343E;
    padding: 10px 170px 10px 170px;
    border-radius: 30px;
    border: none;
    outline: none;
    cursor: pointer;
    width: 680px;
    margin-left: 25px;
}